@keyframes ui-guard-loader-screen {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@keyframes ui-guard-error-screen {
	0% {
		opacity: 0;
	}
}

.ui-guard-loader-screen {
	--ui-guard-loader-panel-height: 7px;

	width: 100%;
	max-width: 100%;
	height: var(--ui-guard-loader-panel-height);

	.ui-guard-loader-screen__loader {
		width: 100%;
		background-color: var(--color-blue);
		height: var(--ui-guard-loader-panel-height);
		display: inline-block;
		position: relative;

		&::after {
			content: "";
			width: 0;
			height: var(--ui-guard-loader-panel-height);
			background: var(--color-white);
			position: absolute;
			top: 0;
			left: 0;
			animation: ui-guard-loader-screen 10s linear infinite;
		}
	}
}

.ui-guard-error-screen {
	width: 100%;
	max-width: 100%;
	height: 100%;
	min-height: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--color-red);
	color: var(--color-white);
	font-size: var(--font-size-2x-large);
	opacity: 0.95;
	animation: ui-guard-error-screen 1s linear;

	.ui-guard-error-screen__content {
		padding: 60px;
	}

	.ui-guard-error-screen__content-error-message {
		font-size: var(--font-size-3x-large);
		margin-bottom: 20px;
	}
}
